
h1 {font-family: 'Indie Flower', cursive;

     font-size: 3.5rem;
    line-height: 1.5;
    }
 h2{
   font-family: 'Montserrat', sans-serif; font-size: 3rem; font-weight:bolder;
 }
h3 {font-family:'Indie Flower', cursive;
     font-size: 3rem
   ;text-align: center;}

p{
  text-align: center;

}

#features{padding: 7% 15%;
  font-family:'Montserrat', sans-serif;
                      font-size: 1.2rem ;
                      font-weight:lighter;}
#title{background-color: #f8bd7f;
 color: white; }

.container-fluid{
  padding: 3% 15%;
}
 /* navbar */

 .navbar{
   padding:0 0 4.5rem;
 }
 .navbar-brand {font-family: 'Montserrat', sans-serif;
                font-size: 2rem ;
                font-weight: bold;}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: 'Indie Flower', cursive;
  font-size: 1.2rem;
   }
/* Buttoms */
.dl-button{
  margin: 5% 3% 5% 0
}

/* title images */
.dogpic{width: 90%;}

/* features */
.f-icon{font-size: 3rem;
  padding-bottom: 18px;
  text-align: center;
  color: #f8bd7f;
  position: relative;
  display: block;
left: 40%;}

  .f-icon:hover{
    color: #cd5d7d
  }

/* testimonials */
.t-1 {
      text-align: center;
    background-color: #f5f1da}
.dogpic-2{
  border-radius: 50%
  ; width: 10%;
  margin: 20px;
}
/* PRESS */
#press{ padding-bottom: 3%
      ;text-align: center;
    background-color: #f5f1da}
    .img-press{
      width: 15%
       ;margin: 20px 20px 50px;}
.carousel-item{padding: 7% 15%;}

/* pricing */
#pricing{
  padding: 7% 15%
; background-color: #f5f1da}


.font-small{font-size: 1.5rem}
.h4{font-family: 'Montserrat', sans-serif;
               font-size: 2rem ;
               font-weight: bold;}
/* cta */

#cta {padding: 7% 15%;
background-color: #f8bd7f
; text-align: center;}
